h1{
    
	background-color: #6a796e;
	color: WHITE;
	line-height: 50px;
	text-align: center;

	font-size: 22px;
  margin: auto;
  margin-top: 40px;

}
table,th,td{
	border: 1px solid;
	margin: auto;
}
form{
	text-align: center;
}